p {
    font-size: 18px;
}


.custom-card-border {
    border: 1px solid #dee2e6;
    border-top: 0;
}

@media (min-width: 992px) {
    .custom-card-border {
        border: 1px solid #dee2e6;
        border-left: 0;
    }
}